OPENAI_API_KEY=REPLACE_ME
UPLOAD_PASSWORD=REPLACE_ME
OPENWEATHER_API_KEY=REPLACE_ME


ENABLE_HLS=true
# opcional, se quiser mexer:
HLS_SEGMENT_TIME=4
HLS_GOP=48
HLS_AUDIO_BITRATE=128k
# HLS_FORCE_FPS=30
# HLS_BITRATE_MAP=240=400k,360=800k,720=2200k,1080=5000k
ffmpegAvailable=true


ENABLE_ROKU_IMAGE_VARIANTS=true
ROKU_LANDSCAPE_WIDTH=720
ROKU_LANDSCAPE_HEIGHT=1280
ROKU_PORTRAIT_WIDTH=1280
ROKU_PORTRAIT_HEIGHT=720
ROKU_LANDSCAPE_WIDTH_2=1080
ROKU_LANDSCAPE_HEIGHT_2=1920
ROKU_PORTRAIT_WIDTH_2=1920
ROKU_PORTRAIT_HEIGHT_2=1080
ROKU_LANDSCAPE_ROTATE_DEGREES=0
ROKU_PORTRAIT_ROTATE_DEGREES=90
